@charset "UTF-8";

body {
  padding-top: 50px;
}

.bing-bg {
  background-size: cover;
  background-image: url(http://cn.bing.com/az/hprichbg/rb/WallaceHut_ZH-CN12470084939_1920x1080.jpg);
  background-repeat: no-repeat;
  text-shadow: 1px 1px 1px #000;
  color: #fff;
}
