{% extends "tbase.html" %}

{% block body %}

<div class="jumbotron t-bg">
  <div class="container">
    <h1 class="text-center">Tensor | 学乎后台管理系统 </h1>
    <p class="text-center">发布课程、教师入驻</p>
    <p class="text-center">管理课程、管理学生</p>
    <p class="text-center">为人类知识传播做出贡献</p>
  </div>
</div>
    <div class="container">
      <div class="page-header">
        <h1>控制面板</h1>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">操作</h3>
            </div>
            <div class="panel-body">
              <a class="btn btn-default" href="/tadd" role="button">添加课程</a>
              <hr>
              <a class="btn btn-default" href="/tlesson" role="button">管理课程</a>
              <hr>
              <a class="btn btn-default" href="/tstudent" role="button">管理学生</a>
              <hr>
            </div>
          </div>
        </div>


      </div>
    <br>
    </div>

{% end %}
