{% extends "base.html" %}

{% block body %}

  <div class="container">
    <div class="page-header">
      <h1>学习资源</h1>
    </div>
    <div class="jumbotron">
      <h1>Hello, {{ current_user }}同学!</h1>
      <p>欢迎来到 GrowtHub ，本站提供了丰富的学习资源。</p>
      <div class="row">
        <div class="col-md-4">
        <p><span class="glyphicon glyphicon-book" aria-hidden="true"></span> 高数</p>
        <p><span class="glyphicon glyphicon-book" aria-hidden="true"></span> 英语口语</p>
        <p><span class="glyphicon glyphicon-book" aria-hidden="true"></span> CET-4 CET-6</p>
        </div>
        <div class="col-md-4">
          <p><span class="glyphicon glyphicon-book" aria-hidden="true"></span> CS101</p>
          <p><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Java</p>
          <p><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Spark</p>
        </div>
        <div class="col-md-4">
          <p><span class="glyphicon glyphicon-book" aria-hidden="true"></span> 离散数学</p>
          <p><span class="glyphicon glyphicon-book" aria-hidden="true"></span> 线性代数</p>
          <p><span class="glyphicon glyphicon-book" aria-hidden="true"></span> TED</p>
          <p><span class="glyphicon glyphicon-book" aria-hidden="true"></span> 可汗学院</p>
          <p><span class="glyphicon glyphicon-book" aria-hidden="true"></span> 公开课</p>

        </div>
      </div>
      <p><a class="btn btn-primary btn-lg" href="#start" role="button">开始学习！</a></p>
    </div>
    <div id="start"></div>
    <div class="alert alert-info" role="alert">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        小提示：喜欢的课程可以添加到“我的课程”，方便学习后续的课程以及复习。</div>
    <div class="page-header">
      <h1>热门内容</h1>
    </div>
    <div class="row">
      <div class="col-md-6">.col-md-6<hr><hr></div>
      <div class="col-md-3">.col-md-3</div>
      <div class="col-md-3">.col-md-3</div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>

{% end %}
