{% extends "base.html" %}

{% block body %}

  <div class="jumbotron bing-bg" style="background-image: url({{ bing }})">
    <div class="container">
      <h1>GrowtHub，<br>随时随地给自己充电。</h1>
      <p>大学公开课</p>
      <p>职业资格</p>
      <p>金融理财</p>
      <p>中小学</p>
      <p>生活兴趣</p>
      <p>外语学习</p>
      <p>乐器</p>
      <p><a class="btn btn-success btn-lg" href="#try" role="button">开始试学！</a></p>
    </div>
  </div>



  <div class="container">
    <div id="try"></div>
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
      使用本站的完整功能需要登录。
    </div>
    <div class="page-header">
      <h1>TED演讲</h1>
    </div>
    <div class="row">
      <div class="col-md-4">
        <video style="width: 100%" controls="" name="media"><source src="https://cn-gdfs15-dx.acgvideo.com/vg11/a/b2/6614868hd.mp4?expires=1492586100&amp;platform=pc&amp;ssig=J856HT4Udx8uV3vAwSoIjA&amp;oi=1946883378&amp;nfa=JegTJDC+uC6hmp9MGMEVog==&amp;dynamic=1" type="video/mp4"></video>
      </div>
      <div class="col-md-4">
        <video style="width: 100%" controls="" name="media"><source src="https://cn-gdfs15-dx.acgvideo.com/vg11/a/b2/6614868hd.mp4?expires=1492586100&amp;platform=pc&amp;ssig=J856HT4Udx8uV3vAwSoIjA&amp;oi=1946883378&amp;nfa=JegTJDC+uC6hmp9MGMEVog==&amp;dynamic=1" type="video/mp4"></video>
      </div>
      <div class="col-md-4">
        <video style="width: 100%" controls="" name="media"><source src="https://cn-gdfs15-dx.acgvideo.com/vg11/a/b2/6614868hd.mp4?expires=1492586100&amp;platform=pc&amp;ssig=J856HT4Udx8uV3vAwSoIjA&amp;oi=1946883378&amp;nfa=JegTJDC+uC6hmp9MGMEVog==&amp;dynamic=1" type="video/mp4"></video>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="page-header">
      <h1>金融理财</h1>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">理财入门</h3>
          </div>
          <div class="panel-body">
            内容
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">股市寻牛</h3>
          </div>
          <div class="panel-body">
            内容
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">保险有料</h3>
          </div>
          <div class="panel-body">
            内容
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">网贷避雷针</h3>
          </div>
          <div class="panel-body">
            内容
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Panel heading without title</div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </div>

{% end %}
