<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="theme-color" content="#337ab7">
  <link rel="shortcut icon" href="{{ static_url("favicon.png") }}" type="image/png" />
  <link rel="icon" href="{{ static_url("favicon.png") }}" type="image/png" />
  <link rel="stylesheet" type="text/css" href="{{ static_url("css/bootstrap.min.css") }}"/>
  <link rel="stylesheet" type="text/css" href="{{ static_url("css/tstyle.css") }}"/>
  <title>{% block title %}课程资源管理{% end %}</title>
  {% block head %}{% end %}
</head>
  <body>
    {% block nav %}
    <nav class="navbar navbar-default">
      <div class="container">
        <ul class="nav navbar-nav">
          <a class="navbar-brand" href="/tensor">Tensor</a>
          <li><a href="/tensor">个人中心</a></li>
          <li><a href="/tensor/login">登录</a></li>
          <li><a href="/tensor/add">添加课程</a></li>
        </ul>
      </div>
    </nav>
    {% end %}
    {% block body %}{% end %}
    <footer class="t_footer">
      <div class="container">
        <p class="text-center">Tensor | 学乎后台管理系统</p>
        <p class="text-center">© 学乎，随时随地学习。</p>
      </div>
    </footer>
    <script src="{{ static_url("js/jquery.min.js") }}" ></script>
    <script src="{{ static_url("js/bootstrap.min.js") }}" ></script>
  </body>
</html>
